<html lang="cn" dir="auto">

<head>
    <meta charset="utf-8">
    <title>Ailoy</title>
    <script src="https://ailoy.github.io/js/Vue.js"></script>
    <script src="https://ailoy.github.io/js/axios.js"></script>
    <link rel="stylesheet" href="https://ailoy.github.io/style.css">
</head>

<body class="list" id="top">
    
    <div id="app">
        <header class="header">
            <nav class="nav">
                <div class="logo"><a v-on:click="ToHome" accesskey="h">Ailoy's Blog</a>
                </div>
                <ul id="menu">
                    <li><a v-on:click="ToArchive()" title="Archive"><span>Archive</span></a></li>
                    <li><a v-on:click="ToTags()" title="Tags"><span>Tags</span></a></li>
                    <li><a href="https://github.com/ailoy" title="Github"><span>Github</span></a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <div id="posts" class="mainPage">
                <article class="post-entry" v-for="info in postsInfo" :id="'id'+info.id.slice(0,-2)">
                    <header class="entry-header">
                        <h2>{{info.title}}</h2>
                    </header>
                    <footer class="entry-footer"><span>{{new Date(parseFloat
                            (info.id)*1000).toLocaleString().replace(/:\d{1,2}$/,' ')}}</span>&nbsp;</footer>
                    <a class="entry-link" v-on:click="toPosts(info)"></a>
                </article>
            </div>
            <div id="post" class="mainPage"></div>
            <div id="tags" style="display: none" class="mainPage">
                <header class="page-header">
                    <h1>Tags</h1>
                </header>
                <ul class="terms-tags" v-for="tagItem in tagsData">
                    <li><a v-on:click="ChooseTags(tagItem['tag'])">{{tagItem["tag"]}}
                            <sup><strong><sup>{{tagItem["ids"].length}}</sup></strong></sup></a></li>
                </ul>
            </div>
            <div id="archive" style="display: none" class="mainPage">
                <header class="page-header">
                    <h1>Archive</h1>
                </header>
                <div class="archive-year" v-for="y in archiveData" >
                    <h2 class="archive-year-header">{{y["year"]}}<sup class="archive-count">&nbsp;&nbsp;1</sup></h2>
                    <div class="archive-month" v-for="m in y['mounths']">
                        <h3 class="archive-month-header">{{m["month"]}}<sup class="archive-count">&nbsp;&nbsp;{{m['info'].length}}</sup></h3><br>
                        <div class="archive-posts" v-for="i in m['info']">
                            <div class="archive-entry">
                                <h3 class="archive-entry-title">{{i.title}}</h3>
                                <div class="archive-meta"><span>May 24, 2017</span>
                                </div><a class="entry-link" v-on:click="toPosts(i)"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer"><span>© 2023 <a href="https://github.com/ailoy">Ailoy</a></span>
    </div>
</body>

<script>
    const monthEng= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Spt", "Oct", "Nov", "Dec"]
    function getMainHtml() {
        return document.querySelector(".main")
    }
    function undisplayAll(html) {
        let items = html.querySelectorAll(".mainPage")
        for (let i = 0; i < items.length; i++)
            items[i].style.display = "none"
        changePostDisplay(html, "")
    }
    function changePostDisplay(html, play) {
        let postsHtml = html.querySelector("#posts").querySelectorAll(".post-entry")
        console.log(postsHtml[0].style.display)
        for (let i = 0; i < postsHtml.length; i++)
            postsHtml[i].style.display = play
    }
    function showPostByTag(html, data, tag) {
        data.forEach(d => {
            if (tag == d["tag"]) {
                d["ids"].forEach(id => {
                    html.querySelector("#posts").querySelector("#id" + id.slice(0, -2)).style.display = ""
                })
            }
        });
    }
    function getTags(Info) {
        Info.sort((x, y) => {
            if (x.tag > y.tag) return -1
            else return 1
        })
        if (Info.length <= 0) return null
        let tag = Info[0].tag, j = 0
        let data = [
            { "tag": tag, "ids": [Info[0].id] }
        ]
        for (let i = 1; i < Info.length; i++) {
            if (Info[i].tag != data[j]["tag"])
                j++, data.push({ "tag": Info[i].tag, "ids": [Info[i].id] })
            else data[j]["ids"].push(Info[i].id)
        }
        return data
    }
    function getArchive(Info) {
        Info.sort((x, y) => {
            if (x.id > y.id) return -1
            else return 1
        })
        if (Info.length <= 0) return null
        let y = 0,m=0,d=new Date(Info[0].id*1000)
        let data = [
            { "year": d.getFullYear(), "mounths": [{ "month": monthEng[d.getMonth()], "info": [{"id":Info[0].id,"title": Info[0].title}] }] }
        ]
        for (let i = 1; i < Info.length; i++) {
            d=new Date(Info[i].id*1000)
            let year = d.getFullYear()
            let month = monthEng[d.getMonth()]
            if (year != data[y]["year"])
                y++, data.push({ "year": year, "mounths": [{ "month": month, "info": [{"id":Info[i].id,"title": Info[i].title}]}] })
            else if (month != data[y]["mounths"][m]["month"])
                m++,data[y]["mounths"].push({ "month": month, "info": [{"id":Info[i].id,"title": Info[i].title}] })
            else data[y]["mounths"][m]["info"].push({"id":Info[i].id,"title": Info[i].title})
        }
        return data
    }
    const app = Vue.createApp({
        data() {
            return {
                postsInfo: [],
                mainHtml: [],
                tagsData: [],
                archiveData: []
            }
        },
        methods: {
            async toPosts(info) {
                undisplayAll(this.mainHtml)
                this.mainHtml.querySelector("#post").style.display = "inline"
                await axios.get('https://ailoy.github.io/posts/' + info.id)
                    .then(res => {
                        this.mainHtml.querySelector("#post").innerHTML = "<header class=page-header><h1>" + info.title + "</h1></header>"
                            + res.data + "<footer class=\"post-footer\"><ul class=\"post-tags\"><li><a href=\"\">" + info.tag + "</a></li></ul></footer>"
                    })
            },
            ToHome() {
                undisplayAll(this.mainHtml)
                this.mainHtml.querySelector("#posts").style.display = "inline"
            },
            ToTags() {
                undisplayAll(this.mainHtml)
                this.mainHtml.querySelector("#tags").style.display = "inline"
            },
            ChooseTags(tag) {
                undisplayAll(this.mainHtml)
                this.mainHtml.querySelector("#posts").style.display = "inline"
                changePostDisplay(this.mainHtml, "none")
                showPostByTag(this.mainHtml, this.tagsData, tag)
            },
            ToArchive() {
                undisplayAll(this.mainHtml)
                this.mainHtml.querySelector("#archive").style.display = "inline"
            }
        },
        created: async function initPosts() {
            await axios({
                method: 'get',
                url: 'https://szw7dhosige2lalngblrihhleu0bwzhg.lambda-url.ap-northeast-1.on.aws/'
            }).then(res => {
                this.postsInfo = res.data
            }).catch(err => {
                initPosts()
            }).finally(() => {
                this.mainHtml = getMainHtml()
                this.tagsData = getTags(this.postsInfo)
                this.archiveData = getArchive(this.postsInfo)
            })
        }
    })
    app.mount('#app')
</script>

</html>
